{# ./src/Neo_Admin/Templates/pages/auth/login/index.html.twig #}

{% extends "layouts/base.layout.html.twig" %}

{% import 'partials/macros/form.macro.html.twig' as Form %}
{% import 'partials/macros/icon.macro.html.twig' as Icon %}

{% block content %}
    <div class="login-page">
        <div class="login-card">
            <div class="login-header">
                <div class="login-logo">
                    {{ Icon.icon('code-xml', {w: 6, h: 6}) }}
                </div>
                <h1 class="login-title">
                    {{ app.name }}
                </h1>
                <p class="login-subtitle">
                    {{ translate('Connectez-vous à l\'administration', [], 'login') }}
                </p>
            </div>

            {{ Form.errors(loginForm) }}

            {{ Form.open(loginForm) }}

                {{ Form.field(loginForm, 'username', {icon: 'user'}) }}
                {{ Form.field(loginForm, 'password', {icon: 'lock', toggle_password: true}) }}
                {{ Form.submit(loginForm) }}

            {{ Form.close() }}

            <p class="login-footer">NeoPHP &copy; {{ "now"|date("Y") }}</p>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('js/components/Form.js') }}"></script>
{% endblock %}