{# ./src/Neo_Admin/Templates/partials/templates/panel/aside.tpl.html.twig #}

{% import 'partials/macros/icon.macro.html.twig' as Icon %}

{% set nav_items = {
    'general': {
        label: translate('Général'),
        links: [
            { route: 'panel.dashboard.index', icon: 'layout-dashboard', label: translate('Tableau de bord') },
            { route: null, icon: 'shield-user', label: translate('Administrateurs') },
            { route: null, icon: 'shield', label: translate('Rôles') },
            { route: null, icon: 'users', label: translate('Clients') },
            { route: null, icon: 'briefcase-business', label: translate('Projets') },
            { route: null, icon: 'file-text', label: translate('Factures') },
        ]
    },
    'tools': {
        label: translate('Outils'),
        links: [
            { route: null, icon: 'database', label: translate('NeoSQL') },
            { route: null, icon: 'code-xml', label: translate('NeoPHP') },
        ]
    },
    'settings': {
        label: translate('Paramètres'),
        links: [
            { route: null, icon: 'settings', label: translate('Préférences') }
        ]
    },
} %}

<div class="panel-brand">
    {{ Icon.icon(app.icon, {w: 6, h: 6}) }}
    <span class="panel-brand-name">
        {{ app.name }}
    </span>
</div>

<div class="panel-nav-scroll">
    <nav class="panel-nav">
        {% for key, group in nav_items %}
            <div class="panel-nav-group">
                <span class="panel-nav-group-label">{{ group.label }}</span>

                {% for link in group.links %}
                    {% set route_prefix = link.route ? (link.route|split('.')|first ~ '.') : null %}
                    {% set is_active = route_prefix is not null and currentRoute() starts with route_prefix %}

                    <a href="{{ link.route ? path(link.route) : '#' }}" class="panel-nav-link{{ is_active ? ' active' : '' }}">
                        {{ Icon.icon(link.icon, {w: 5, h: 5}) }}
                        <span>{{ link.label }}</span>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </nav>
</div>

<div class="panel-user">
    <div class="panel-user-avatar">
        {{ getAdministrator().initials }}
    </div>

    <div class="panel-user-info">
        <span class="panel-user-name">
            {{ (getAdministrator().display_fullname)|default(getAdministrator().username) }}
        </span>
        <span class="panel-user-role">
            {{ getAdministrator().role.label ?? '__NOT_DEFINED__' }}
        </span>
    </div>

    <a href="{{ path('auth.logout.index') }}" class="panel-logout-icon" aria-label="{{ translate('Déconnexion') }}">
        {{ Icon.icon('log-out', {w: 4, h: 4}) }}
    </a>
</div>