{# ./src/Neo_Admin/Templates/partials/macros/form.macro.html.twig #}

{% macro open(form, params = {}) %}
    {{ form_start(form, params) }}
    {{ form_csrf(form) }}
{% endmacro %}

{% macro close() %}
    {{ form_end() }}
{% endmacro %}

{% macro field(form, name, options = {}) %}
    {% import 'partials/macros/icon.macro.html.twig' as Icon %}

    {% set f = form_field(form, name) %}
    {% if f is not null %}
        <div class="form-field{{ options.wrapper_class is defined ? ' ' ~ options.wrapper_class : '' }}">
            {% if options.label_visible|default(true) and f.label %}
                {{ form_label(form, name) }}
            {% endif %}

            <div class="form-input-wrap{{ options.icon is not defined ? ' no-icon' : '' }}"{{ options.toggle_password|default(false) ? ' data-password-wrap' : '' }}>
                {% if options.icon is defined %}
                    {{ Icon.icon(options.icon, {w: 4, h: 4, class: 'form-icon'}) }}
                {% endif %}

                {{ form_widget(form, name, options.widget|default({})) }}

                {% if options.toggle_password|default(false) %}
                    <button type="button" class="form-toggle-password" data-toggle-password>
                        {{ Icon.icon('eye', {w: 4, h: 4}) }}
                    </button>
                {% endif %}
            </div>

            {% for err in form_error(form, name) %}
                <span class="error">{{ err }}</span>
            {% endfor %}

            {% if options.help is defined %}
                <p class="form-help">{{ options.help }}</p>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro simple_field(name, options = {}) %}
    {% import 'partials/macros/icon.macro.html.twig' as Icon %}

    {% set type = options.type|default('text') %}
    {% set attrs = options.attr|default({}) %}

    <div class="form-field{{ options.wrapper_class is defined ? ' ' ~ options.wrapper_class : '' }}">
        <div class="form-input-wrap{{ options.icon is not defined ? ' no-icon' : '' }}">
            {% if options.icon is defined %}
            {{ Icon.icon(options.icon, {w: 4, h: 4, class: 'form-icon'}) }}
            {% endif %}

            <input
                    type="{{ type }}"
                    name="{{ name }}"
                {%- if options.placeholder is defined %} placeholder="{{ options.placeholder }}"{% endif %}
            {%- for k, v in attrs %} {{ k }}="{{ v }}"{% endfor %}
            >
        </div>
    </div>
{% endmacro %}

{% macro submit(form, options = {}) %}
    {% set attr = options.attr|default({}) %}
    {% set attr = attr|merge({class: attr.class is defined ? attr.class : 'form-submit'}) %}
    {{ form_widget(form, 'submit', {attr: attr}) }}
{% endmacro %}

{% macro errors(form) %}
    {% if form_errors(form) is not empty %}
        <div class="form-errors">
            {% for error in form_errors(form) %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}